/* mediaboxAdvanced - black theme */
@media all {
  #mbOverlay {
    position:fixed;
    z-index:9998;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    cursor:pointer;
  }
  #mbOverlay.mbOverlayFF {
    background:transparent url("/img/80.png") repeat;
  }
  #mbOverlay.mbOverlayIE {
    position:absolute;
  }
  #mbCenter {
    position:absolute;
    z-index:9999;
    left:50%;
    overflow:hidden;
    background-color:#000;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow:0 5px 20px rgba(0,0,0,0.50);
    -khtml-box-shadow:0 5px 20px rgba(0,0,0,0.50);
    -moz-box-shadow:0 5px 20px rgba(0,0,0,0.50);
    box-shadow:0 5px 20px rgba(0,0,0,0.50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=180, Color='#000000')";
    filter:progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=180,Color='#000000');
  }
  #mbCenter.mbLoading {
    background:#000 url("/img/loading.gif") no-repeat center;
    -webkit-box-shadow:none;
    -khtml-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }
  #mbImage {
    position:relative;
    left:0;
    top:0;
    font-family:Myriad,Verdana,Arial,Helvetica,sans-serif;
    line-height:20px;
    font-size:12px;
    color:#fff;
    text-align:left;
    background-position:center center;
    background-repeat:no-repeat;
    padding:10px;
  }
  #mbBottom {
    min-height:20px;
    font-family:Myriad,Verdana,Arial,Helvetica,sans-serif;
    line-height:20px;
    font-size:12px;
    color:#999;
    text-align:left;
    padding:0 10px 10px;
  }
  #mbTitle,#mbPrevLink,#mbNextLink,#mbCloseLink {
    display:inline;
    color:#fff;
    font-weight:bold;
    line-height:20px;
    font-size:12px;
  }
  #mbNumber {
    display:inline;
    color:#999;
    line-height:14px;
    font-size:10px;
    margin:auto 10px;
  }
  #mbCaption {
    display:block;
    color:#999;
    line-height:14px;
    font-size:10px;
  }
  #mbPrevLink,#mbNextLink,#mbCloseLink {
    float:right;
    outline:0;
    margin:0 0 0 10px;
    font-weight:normal;
  }
  #mbPrevLink b,#mbNextLink b,#mbCloseLink b {
    color:#eee;
    font-weight:bold;
    text-decoration:underline;
  }
  #mbPrevLink big,#mbNextLink big,#mbCloseLink big {
    color:#eee;
    font-size:16px;
    line-height:14px;
    font-weight:bold;
  }
  #mbBottom a,#mbBottom a:link,#mbBottom a:visited {
    text-decoration:none;
    color:#ddd;
  }
  #mbBottom a:hover,#mbBottom a:active {
    text-decoration:underline;
    color:#fff;
  }
  #mbError {
    position:relative;
    font-family:Myriad,Verdana,Arial,Helvetica,sans-serif;
    line-height:20px;
    font-size:12px;
    color:#fff;
    text-align:center;
    border:10px solid #700;
    padding:10px 10px 10px;
    margin:20px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
  }
  #mbError a,#mbError a:link,#mbError a:visited,#mbError a:hover,#mbError a:active {
    color:#d00;
    font-weight:bold;
    text-decoration:underline;
  }

}
