@use 'normalize';
@use 'mediabox';

/* Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Web Fonts ---------------- */

@font-face {
    font-family: 'FF Scala';
    src: url('../fonts/ff-scala/ff-scala-regular.woff2') format('woff2'),
         url('../fonts/ff-scala/ff-scala-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF Scala';
    src: url('../fonts/ff-scala/ff-scala-bold.woff2') format('woff2'),
         url('../fonts/ff-scala/ff-scala-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Standard styles ---------- */

$page-width:880px;
$dark-grey:#313943;
$light-grey:#6e747b;

html {
  font-family:'FF Scala',Palatino,Baskerville,Garamond,Georgia,serif;
  font-size: 1em;
  line-height:13.5/11;
}

body {
  max-width:$page-width;
  margin:0 auto 67px;
  background-color:$light-grey;
  box-shadow:3px 5px 3px rgba(black,0.5);
}

body>header {

  figure {
    margin:0;
    overflow:hidden; // cut off shadows from header etc.
    position:relative;
  }

  figure:before {
    content:"";
    display:block;
    position:absolute;
    background:$dark-grey url("/img/names-head.svg") 99% 60% / auto 52px no-repeat;
    height:99px;
    right:0;
    left:0;
    top:20px;
    opacity:90%;
  }

  img {
    display:block;
  }
}

main {

  color:$dark-grey;
  background-color:#d6d7d9;
  position:relative;
  min-height:20rem;
  padding-bottom:5rem;

  &>nav {
    position:absolute;
    top:-50px;
    width:164px;
  }

  &>figure {
    margin:0;
    position:absolute;
    top:115px;
    left:20px;
    width:270px;
    text-align:right;
  }

  &.nav-expanded>figure {
    top:205px;
  }

  h1, .content {
    padding-left:200px;
    padding-right:30px;
  }

  &.has-image {
    h1, .content {
      padding-left:310px;
    }
  }

  &.narrow .content {
    max-width:300px;
  }

  .email {
    position:absolute;
    top:1rem;
    right:4rem;
  }

  h1 {
    margin:0 0 1rem;
    padding-top:4.5rem;
    font-weight:normal;
    font-feature-settings:"smcp";
    font-size:1.5rem;
    line-height:1;
  }

  h2 {
    margin:1.5rem 0 0;
    font-size:inherit;
    font-weight:bold;
    &:first-child {
      margin-top:0;
    }
  }

  p {
    margin:0 0 1rem;
  }

  p a {
    color:inherit;
  }

  .content ul {
    list-style-type:none;
    padding:0;
    margin:0 0 1rem;
    li {
      padding-left:1em;
      &:before {
        display:inline-block;
        margin-left:-1em;
        width:1em;
        content:"•";
      }
    }
  }

}

body>footer {
  position:relative;
  .logo {
    width:54px;
    height:20px;
    left:50%;
    top:1rem;
    position:absolute;
    margin-left:-27px;
  }
}

/* Navigation styles ---------- */

main>nav {

  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:0.75rem;

  // skiplink
  &>a {
    @include sr-only;
  }

  ul {
    margin:0;
    padding:0;
    color:#d6d7d9;
    list-style-type:none;
  }

  li {
    display:block;
    background-color:#730e1d;
    border-bottom:2px solid #d6d7d9;
    &.trail {
    }
  }

  a {
    display:block;
    margin:0;
    padding:0.25rem 0;
    padding-left:1.25rem;
    text-decoration:none;
    color:#d6d7d9;
  }

  .active, .active .active {
    font-weight:bold;
  }

  .active.trail, .active li {
    font-weight:normal;
  }

  &>ul>li {
    &.active, &.trail {
      background-color:#8b3643;
    }
  }

  &>ul ul {
    li {
      background-color:#954853;
      border-top:2px solid #d6d7d9;
      border-bottom:none;
    }
    a {
      padding-left:2rem;
    }
  }
}

/* Mobile styles ---------- */

@media only screen and (max-width:45em) {
  main {
    &.has-image>h1, &.has-image>.content {
      padding-left:200px;
    }
    &>figure {
      box-sizing:border-box;
      padding-left:1.25rem;
      left:0;
      width:164px;
      img {
        width:100%;
        height:auto;
      }
    }
    &.nav-expanded>figure {
      top:185px;
    }
  }
}

@media only screen and (max-width:35em) {
  body>header figure:before {
    background-size:auto 45px;
  }
  main {
    min-height:0;
    &>nav, &>figure, .email {
      position:static;
    }
    &>figure {
      width:auto;
      padding:0 1.25rem 1rem;
      text-align:left;
      img {
        max-width:150px;
        height:auto;
      }
    }
    &>nav {
      float:left;
      margin:-110px 0 2rem;
    }
    &.nav-expanded>nav {
      margin-top:-140px;
    }
    &>h1, &>.content, &.has-image>h1, &.has-image>.content {
      clear:left;
      padding:0 1.25rem 0;
    }
  }
}
